@{
    ViewBag.Title = "Yetkiniz Yok";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="mt20 wrapper-box active">
    <div class="text-center">
        <p style="margin-top:50px; font-size: 80px; color: #dc143c;"><i class="fa fa-exclamation-triangle"></i></p>
        <h1>Yetkiniz Yok</h1>
        <p class="mt20 description">
            Üzgünüz bu işlemi gerçekleştirmeye yetkiniz yok!
        </p>
        <p class="mt20">
            <a href="/anasayfa" class="btn btn-continue">Anasayfa</a>
        </p>
    </div>
</div>
