@{
    ViewBag.Title = "Yetkiniz yok!";
}

<section class="container-fluid">
    <div class="row">
        <div class="col-md-8 box box-danger">
            <div class="card">
                <div class="card-header card-header-icon"><i class="fa fa-eye-slash"></i></div>
                <div class="card-content">
                    <h2 class="card-title">Yetkiniz Yok!
                    </h2>
                    <div class="error-content">
                        <h4>
                            <i class="fa fa-warning"></i> Yetkileriniz bu işlemi gerçekleştirmeye izin vermiyor.
                        </h4>
                        <p>Farklı bir sorundan dolayı bu sayfayı görüntülediğinizi düşünüyorsanız lütfen müşteri temsilcimizle iletişime geçin.</p>
                        <p>Teknik destek için müşteri temsilcilerimizle 7/24 irtibata geçebilirsiniz. İletişim için <a href="mailto:iletisim@webmarket.com">tıklayınız.</a>
                        </p>
                        <p class="mt20">
                            <a href="/" class="btn btn-info">Anasayfaya Git</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>