@{
    ViewBag.Title = "Üye Bilgilerim";
}

<div class="modal fade modal-large" id="campaignWizardModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body wrapper-box pr">
                <button type="button" class="close pa" data-bs-dismiss="modal" aria-hidden="true">&times;</button>
                <h3>Kampanya Oluştur</h3>
                <div class="page-dialog aware-stepper">
                    <div class="aware-stepper__item" data-step="1">
                        Kampanya Bilgileri
                    </div>
                    <div class="aware-stepper__item" data-step="2">
                        Ürün Bilgileri
                    </div>
                    <div class="aware-stepper__item" data-step="3">
                        Katılımcı Bilgileri
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>