
@{
    ViewBag.Title = "Anasayfa";
}

<div>Yener Çeçe Pingking</div>

<script type="text/javascript">
    setInterval(function () {
        console.log("istek yapılıyor..");
        window.location.reload();
    }, 270000);
</script>

