@{
    ViewBag.Title = "Erişim yok!";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login-box login-dialog">
    <div class="login-logo"><b>Webmarket</b>YP
    </div>
    <div class="login-box-body">
        <h3 class="text-red"><b>Hesabınıza Erişim İmkanı Kısıtlanmış! </b></h3>
        <p>Kullanıcı yetkileriniz hesap bilgilerinizle giriş yapmanıza izin vermiyor. Lütfen yöneticinizle iletişime geçin.</p>
        <p>Teknik destek için müşteri temsilcilerimizle 7/24 irtibata geçebilirsiniz. İletişim için <a href="mailto:iletisim@webmarket.com">tıklayınız.</a></p>
    </div>
</div>